:root{
    --background-color: #FFE3EA;
    --primary-color: #F699B0;
    --secondary-color: #BCE4FE;
    --button-color: #F05B7F;
    --text-color: white;
    --main-header-color: #358BC3;
    --secondary-header-color: #D7357D;
    --input-background-color: #F6F6F6;


    --left-login: var(--primary-color);
    --right-login: #A2DEF1;
    --card-color: rgb(236, 236, 234);
}


.primary-color {
    background-color: var(--primary-color);
}

.secondary-color {
    background-color: var(--secondary-color);
}

.button-color {
    background-color: var(--button-color);
}

.make-blue {
    background-color: var(--main-header-color);
}

.make-red {
    background-color: var(--button-color);
}

.make-yellow {
    background-color: #f1f18b;
}

.error-message {
    color: #ff5d5d;
    font-weight: 600;
}

.success-message {
    color: #017e10;
    font-weight: 600;
}

