
.home-container {
    display: inline-flex;
    height: 100%;
}

/* TODO VIEW */

.todo-view-container {
    width: 100%;
    height: 100%;
    margin-top: 0.5rem;
    overflow: scroll;
    display: grid;
    gap: 2rem;
    overflow: scroll;
    justify-content: space-around; 
    padding: 2rem;
} 

.todo-view-container::-webkit-scrollbar {
  display:none;
}

.smallestCol {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); 
  }
  
  .smallerCol {
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr)); 
  }
  
  .mediumCol {
    grid-template-columns: repeat(auto-fill, minmax(550px, 1fr)); 
  }
  
  
  .largestCol {
    grid-template-columns: repeat(auto-fill, minmax(100%, 1fr)); 
  }
  
  
  .smallestRow {
    grid-auto-rows: 30%; 
  }
  
  .smallerRow {
    grid-auto-rows: 40%; 
  }
  
  .mediumRow {
    grid-auto-rows: 50%; 
  }
  
  
  .largestRow {
    grid-auto-rows: 100%; 
  }
  

  .absolute {
    position: absolute;
  }